  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      font-family: "Open Sans";
  }

  :root {
      --violetita: #8D6A9F;
      --gris: #C5CBD3;
      --aqcua: #8CBCB9;
      --darkviolet: #320E3B;
      --blackolive: #32322C;
      --greyblue: #383B53;
      --lightblue: #BEDCFE;
      --white: #FFFFFF;
      --nav: #CADDE3;
      --midnight: #191970;
      --violetblue: #7B68EE;
  }

  header {
      background-color: var(--nav);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      padding: 0px 30px 0px 30px
  }

  .navbar,
  .navbar-list {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .navbar-list {
      gap: 30px;
      font-size: 22px;
  }

  .navbar-list a {
      color: #383B53;
  }
  .navbar-list a:hover{
    color: var(--violetblue);
  }

  #hero {
      margin-top: 80px;
      margin-left: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
  }

  .hero-info h1 {
      font-size: 48px;
      width: 50%;
      min-width: 500px;
      font-weight: 800;
      color: var(--midnight);
  }

  .hero-info p {
      font-size: 20px;
      width: 70%;
      color: var(--violetblue);
  }

  .botones button {
      display: inline-block;
      width: 25%;
      cursor: pointer;
      font-size: 16px;
      width: 20%;
      padding: 8px 0px;
      border-radius: 1rem;
      text-align: center;
  }

  .boton1 {
      font-weight: bolder;
      color: var(--lightblue);
      background-color: var(--greyblue);
  }

  .boton2 {
      font-weight: bolder;
      color: var(--greyblue);
  }

  .hero-card {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  }

  #hero-card {
      width: 70%;
      margin-right: 180px;
  }

  .explicacion {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
  }
  .cards-intro h3, p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .caja-cards{
    margin-top: 30px;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
  .caja{
    width: 300px;
    height: 300px;
    color: var(--blackolive);
    font-size: 40px;
    font-weight: 700;
    border-radius: 15px;
    align-items: center;
    justify-content: top;
    padding: 5px;
    background: linear-gradient(90deg, rgb(192, 135, 207) 0%, rgb(63, 181, 205) 42%, rgb(195, 231, 220) 100%);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }
  .caja:hover{
  transform: translate(0, -10px);
}
  .card-icono{
    text-align: center;
    margin-top: 35px;
}
  .card-titulo{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  .card-texto{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .contact-us{
    background-color: var(--nav);
    height: 300px;
    display: flex;
  }
  .contact-us-info{
    ;
    width: 800px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 16px;
    height: 175px;
  }
  .contact-us-mail{
    font-size: 14px;
    cursor: pointer;
  }
  .contact-us-mail:hover{
    color: var(--violetblue);
  }
  .contact-us-redes{
    width: 800px;
    height: 175px;
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.contact-us-iconos{
    width: 400px;
    height: 80px;
    border-radius: 15px;
    font-size: 40px;
    justify-content: center;
    display: flex;
    gap: 40px;
    padding: 20px;
}
.fa-brands{
  cursor:pointer;
}
.fa-brands:hover{
  color: var(--violetblue);
}
.logo-footer{
  background-color: var(--greyblue);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #C5CBD3;
}


  @media (max-width: 620px){

    .caja-cards{
        background-color: #7B68EE;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .caja{
        background-color: var(white);
        color: var(--darkviolet);
        font-size: 20px;
        width: 90%;
        height: 100%;
    }
  }