  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      font-family: "Open Sans";
  }

  :root {
      --violetita: #8D6A9F;
      --gris: #C5CBD3;
      --aqcua: #8CBCB9;
      --darkviolet: #320E3B;
      --blackolive: #32322C;
      --greyblue: #383B53;
      --lightblue: #BEDCFE;
      --white: #FFFFFF;
      --nav: #CADDE3;
      --midnight: #191970;
      --violetblue: #7B68EE;
  }

  header {
      background-color: var(--nav);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      padding: 0px 30px 0px 30px
  }

  .navbar,
  .navbar-list {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .navbar-list {
      gap: 30px;
      font-size: 22px;
  }

  .navbar-list a {
      color: #383B53;
  }

  #hero {
      margin-top: 80px;
      margin-left: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
  }

  .hero-info h1 {
      font-size: 48px;
      width: 50%;
      min-width: 500px;
      font-weight: 800;
      color: var(--midnight);
  }

  .hero-info p {
      font-size: 20px;
      width: 70%;
      color: var(--violetblue);
  }

  .botones button {
      display: inline-block;
      width: 25%;
      cursor: pointer;
      font-size: 16px;
      width: 20%;
      padding: 8px 0px;
      border-radius: 1rem;
      text-align: center;
  }

  .boton1 {
      font-weight: bolder;
      color: var(--lightblue);
      background-color: var(--greyblue);
  }

  .boton2 {
      font-weight: bolder;
      color: var(--greyblue);
  }

  .hero-card {
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  }

  #hero-card {
      width: 70%;
      margin-right: 180px;
  }

  .explicacion {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
  }